<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">{{ title }}</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/products">Products</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/cart">Cart ({{ amountOfProducts }})</a></li>
                <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" role="link" aria-label="Bestel geschiedenis" routerLink="/order" *ngIf ="isAuthenticated" >Order History</a></li>
                <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" role="link" aria-label="Retour geschiedenis" routerLink="/restitutes" *ngIf ="isAuthenticated" >Restitute History</a></li>
                <li class="nav-item"><a [routerLink]="['products/giftcard']" class="nav-link rounded-3">Giftcards</a></li>
                <li class="nav-item"><a [routerLink]="['/topup']" class="nav-link rounded-3">Top up</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" *ngIf ="isAdmin" [routerLinkActiveOptions]="{exact: true}" routerLink="/promo-codes">Promocodes panel</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" *ngIf ="isAdmin" [routerLinkActiveOptions]="{exact: true}" routerLink="/admin">Product Variant panel</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" *ngIf ="isAdmin" [routerLinkActiveOptions]="{exact: true}" routerLink="/admin/restitute">Restitute panel</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" *ngIf ="isAdmin" [routerLinkActiveOptions]="{exact: true}" routerLink="admin/giftcards-option">Giftcard panel</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" *ngIf ="!isAuthenticated" [routerLinkActiveOptions]="{exact: true}" routerLink="/auth/login">Login</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" *ngIf ="!isAuthenticated" [routerLinkActiveOptions]="{exact: true}" routerLink="/auth/register">Register</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" *ngIf ="isAuthenticated" [routerLinkActiveOptions]="{exact: true}" routerLink="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
