# Angular Frontend

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# compiled output
dist/
tmp/
out-tsc/
# Only exists if Bazel was run
bazel-out/

# dependencies
node_modules/
# Dependency directories
jspm_packages/

# Angular CLI specific files
.angular/cache/
.angular/config.json

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Miscellaneous
.DS_Store
Thumbs.db
*.iml

# Environment files
environment.ts
environment.prod.ts

# Spring Boot Backend

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
*.iml
.idea/
*.ipr
*.iws

### Eclipse ###
.metadata
bin/**
tmp/**
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders

### Mac ###
.DS_Store

### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

### Linux ###
*~

### Gradle ###
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

### Logs ###
*.log

### Spring Boot ###
spring.log

### Code Coverage ###
/jacoco.exec

### Others ###
/target/
/out/
/build/

### ignore application secrets
application-secrets.properties